<%= render 'layouts/page_title', page_title: 'Dashboard', page_subtitle: nil %>
<div class="container border shadow bg-light bg-gradient">
  <div class="row my-3">
    <div class="col text-center">
      To come ...
    </div>
  </div>
</div>