<% if current_model.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <strong><%= pluralize(current_model.errors.count, "error") %> prohibited this record from being saved:</strong>
    <ul>
      <% current_model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
