<div class="container">
  <div class="row text-muted">
    <div class="col">
      <small>session[:user_role]</small>
    </div>
    <div class="col text-end">
      <small>Powered by <a href="http://computability.com.au/">Computability</a></small>
    </div>
  </div>
</div>
