<div class="container">
  <div class="row my-3">
    <h4 class="text-center"><%= page_title %></h4>
    <% if (page_subtitle.present?) then %>
      <h5 class="text-center"><%= page_subtitle %></h5>
    <% end %>
  </div>
</div>